<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328512272187-qifuet8b9bi79tt1sdvkmisu13vm5fh4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328512272187-qifuet8b9bi79tt1sdvkmisu13vm5fh4</string>
	<key>API_KEY</key>
	<string>AIzaSyAH-LscXc6ge3lvSCnnDDzc0ZGplMG8Pos</string>
	<key>GCM_SENDER_ID</key>
	<string>328512272187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.passpilot</string>
	<key>PROJECT_ID</key>
	<string>passpilot-6a9e9</string>
	<key>STORAGE_BUCKET</key>
	<string>passpilot-6a9e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328512272187:ios:ec1128b85ef38d4644691e</string>
</dict>
</plist>